{% extends 'base.html '%}

{% block content %}

<h1>Post</h1>

{% for post in object_list %}

 <div class="card">
  <div class="card-body">
    <h5 class="card-title">
      <a href="{% url 'article-detail' post.pk %}">
        {{ post.title }}
      </a>
    </h5>
    <p class="card-text">
      <a href="{% url 'category' post.category|slugify %}">
        {{ post.category }}
      </a>
         - {{ post.author.first_name }}
        {{ post.author.last_name }}
         -  {{ post.post_date}}
    </p>

        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <a href="{% url 'update_post' post.pk %}" class="btn btn-secondary">Edit</a>               
                <a href="{% url 'delete_post' post.pk %}" class="btn btn-secondary">Delete Post</a>
            {% endif %}
        {% endif %}   
  </div>
</div>
<br/>
{% endfor %}

{% endblock %}